<!DOCTYPE html>
<html lang="en">
<head>
  <title>dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
  #uemail{
    margin-left: 800px;
  }

  img {
      width: 100%;
    }
  </style>

</head>
<body>



    <!-- // var VerifyTokenAPI=function(req,res,next){
      //   if(req.headers.authorization){
      //       console.log('ttttttttttttttttttttttt',req.headers.authorization);
      //       const token  =req.headers.authorization;
      //       jwt.verify(token,JWTSECRET, (err, decoded )=>{
      //         console.log('66666666666666666666',err);
      //           if(err) return res.json({status:false,message:'plz Login'}) ;
      //       });
      //   }else{
      //       return res.json({status:false,message:'header not found'});
      //   }
      // }; -->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">E-commerce</a></li>
      <li class="active"><a href="#">Home</a></li>
      <li class="active"><a href="#">  <span id="firstName"></span></a></li>
      <li class="active"> <a href="/">Logout</a> </li>

      
      
    </ul>
  </div>
</nav>
  <br/> 
  


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>   
<script src="/javascript/signin.js"> </script>
</html>
